<% content_for :empty_message do %>You haven't been assigned any students.<% end %>

<% render :table_head, layout: 'users' do %>
  <th>#</th>
  <th>Name</th>
  <th>Role</th>
  <th></th>
  <th></th>
<% end %>

<% content_for :table_body do %>
  <td>
    <%= link_to remove_student_path(i_id: current_user.id, s_id: 1), method: :delete do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
<% end %>
