<div class="page-header">
  <h3>My Students</h3>
</div>

<% if @students.empty? %>
  <br/><div class="alert alert-info">You haven't been assigned any students.</div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Role</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr>
        <td><%= student.id %></td>
        <td><%= student.name %></td>
        <td><%= student.role.capitalize %></td>
        <td>
          <%= link_to remove_student_path(i_id: current_user.id, s_id: student.id), method: :delete do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
