<% content_for :thead do %>
  <th>#</th>
  <th>Name</th>
  <th></th>
<% end %>

<% content_for :tbody do %>
  <% @collection.each do |student| %>
    <tr>
      <td>
        <%= student.id %>
      </td>
      <td>
        <%= student.name %>
      </td>
      <td>
        <%= link_to add_student_path(i_id: current_user.id, s_id: student.id), method: :post do %>
          <span class="glyphicon glyphicon-plus"></span>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
